.brick-rss {
  @extend .brick-common;
  word-wrap: break-word;
  background-color: #A0E9FF;
  background-position: center;
}
.brick-rss a {
  @extend .brick-common;
  display: block;
  background-size: 100% 100%;
}

.brick-rss img {
  @extend .brick-common;
}

.brick-rss em > a {
  background: #F5BB81;
}

/*
The below block is a mess (margin-top, especially).
*/
.brick-rss aside {
  font-size: 200%;
  right: 5px;
  bottom: 5px;
  margin-top: 150px;
  padding: 10px 40px 10px 10px;
  background: #4892A8; 
  color: white;
  @include border-radius(5px); 
  position: absolute;
}
