.brick-image {
  @extend .brick-common;
  word-wrap: break-word;
  background-color: black;
  background-position: center;
}
.brick-image a {
  @extend .brick-common;
  display: block;
  background-size: 100% 100%;
}
