$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'breakpoints';

/* width/height/margin of bricks */
$w: 200px;
$h: $w;
$m: 30px;

body {
  margin-left: $m;
}

.brick {
  width: $w;
  height: $h;
  border: 1px solid #ddd;
  margin: $m $m 0 0;
  display: block;
/*
  @include breakpoint(papa-bear) { width: 10%; }
  @include breakpoint(mama-bear) { width: 20%; }
  @include breakpoint(baby-bear) { width: 40%; }
*/
}

.brick-common {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}

/*
Find colours for new swatches here:
https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=1&name=StreamOfConciousness&mode=rgb&rgbvalues=0.2818447378951581,0.5725828607305438,0.6607843137254903,0.6265306122448979,0.9130717804363564,1,0.5058823529411764,0.8549019607843137,0.9607843137254902,0.6607843137254903,0.43757730534732836,0.21576630652260903,0.9607843137254902,0.7326198257079608,0.5058823529411764&swatchOrder=0,1,2,3,4
*/
@import 'brick_post';
@import 'brick_image';
@import 'brick_rss';
@import 'brick_undefined';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
